	body {
font-family: sans-serif;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
#glow {
  -webkit-animation: glow 1s linear infinite;
  animation: glow 0.018s linear infinite;
  text-shadow: 0px 5px #000000;
  padding: 5px;
  font-size: 60px;
}
#glow:hover {
transition: 0.019s ease-out;
box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#glow:active {
transition: 0.019s ease-in;
background-color: lightgrey;
}
@-webkit-keyframes glow {
  0% { color: rgb(0, 0, 0); }
  50% { color: rgb(48, 0, 48); }
  100% { color: rgb(0, 0, 0); }
}
@keyframes glow {
  0% { color: rgb(48, 48, 48); }
  50% { color: rgb(255, 255, 255); }
  100% { color: rgb(48, 48, 48); }
}
a {
  text-decoration: none;
}
 img {
   max-width: 100%;
   min-height: 100%;
}
@media (min-height: 333px) {
  img {
    height: 13%;
  }
}
.preloader {
  -webkit-animation: load-out 0.2s;
  animation: load-out 0.2s;
  animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader {
  position: fixed;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
@-webkit-keyframes load-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
@keyframes load-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.day {
  background-image: url("./Images/WebBackground.gif");
  background-color: white;
  .sticky {
  position: fixed;
  background-color: lightgray;
  width: 21vw;
  border: 3px solid gray;
  top: 353px;
  font-size: 1.9vw;
  text-align: left;
  }
  b{
  color: black;
  }
  c{
  color: black;
  }
  d{
  color: black;
  font-family: monospace;
  }
}
.night {
  background-image: url("./Images/WebBackgroundNight.gif");
  background-color: black;
  .sticky {
  position: fixed;
  color: white;
  background-color: #2C2C2C;
  width: 21vw;
  border: 3px solid #7F7F7F;
  top: 353px;
  font-size: 1.9vw;
  text-align: left;
  }
  b{
  color: white;
  }
  c{
  color: white;
  }
  d{
  color: white;
  font-family: monospace;
  }
}
